/* Mark Tasks modal */
#taskmarker-modal .modal-close-button {
    display: none;
}
#taskmarker-modal .modal {
    padding: 10px;
    min-width: 200px;
    max-width: 300px;
}
#taskmarker-modal .modal-content {
    background-color: var(--background-secondary);
    margin-top: 0px;
}
#taskmarker-modal .modal .markdown-preview-view {
    padding: 5px;
}
#taskmarker-modal .modal .markdown-preview-view ul {
    display: flex;
    flex-wrap: wrap;
    --gap: 3px;
    --square: 45px;
    margin: calc(-1 * var(--gap)) calc(1 * var(--gap));
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
#taskmarker-modal .modal .markdown-preview-view ul > li {
    margin: var(--gap);
    display: block;
    width: var(--square);
    height: var(--square);
    background-color: var(--background-primary);
    border: 1px solid var(--background-modifier-border);
    border-radius: 2px;
    text-indent: unset;
    line-height: var(--square);
    text-align: center;
}
#taskmarker-modal .modal .markdown-preview-view ul > li::before {
    display: none;
}
#taskmarker-modal .modal .markdown-preview-view ul > li > span {
    font-family: var(--font-monospace);
}
#taskmarker-modal .modal .markdown-preview-view ul > li.task-list-item .task-list-item-checkbox {
    margin-right: 4px;
    margin-left: unset;
}
#taskmarker-modal .modal .markdown-preview-view nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#taskmarker-modal .modal .markdown-preview-view nav span {
  display: block;
  font-size: .8em;
  color: var(--text-muted);
}

/* Miscellaneous */
.linkInfo {
    font-size: small;
}
